@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="row align-items-center" id="cookieConsent">
        <div>
            <svg width="66" height="56" viewBox="0 0 66 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M64.5052 29.8369C64.1503 28.7762 62.7608 28.525 62.0569 29.3939C61.5083 30.0712 60.7094 30.4596 59.8649 30.4596C58.2753 30.4596 56.9325 29.1601 56.9325 27.6218C56.9325 27.2069 57.0345 26.7891 57.2357 26.3803C57.8314 25.1695 56.5482 23.884 55.3361 24.4806C54.9272 24.6819 54.5095 24.7839 54.0946 24.7839C52.5299 24.7839 51.2568 23.5109 51.2568 21.9461C51.2568 21.1016 51.6452 20.3027 52.3225 19.7541C53.1916 19.0503 52.9401 17.6606 51.8795 17.3058C51.027 17.0207 50.1632 16.7948 49.2926 16.627C45.7971 12.787 40.8538 10.5947 35.6487 10.5947C25.4254 10.5947 17.1082 18.8696 17.1082 29.0407C17.1082 36.5007 21.6523 43.0929 28.3304 45.9768C31.7571 51.9599 38.206 56.0001 45.5811 56.0001C56.5868 56.0001 65.5406 47.0888 65.5406 36.1353C65.5406 34.0102 65.1922 31.8912 64.5052 29.8369ZM27.1352 16.2704C27.9176 16.2704 28.5541 16.9069 28.5541 17.6893C28.5541 18.4717 27.9176 19.1082 27.1352 19.1082C26.3528 19.1082 25.7163 18.4717 25.7163 17.6893C25.7163 16.9069 26.3528 16.2704 27.1352 16.2704ZM26.5098 41.6971C22.4785 38.7875 19.946 34.0645 19.946 29.0407C19.946 25.4307 21.1858 22.1033 23.264 19.4562C23.9365 20.9237 25.4182 21.9461 27.1352 21.9461C29.4824 21.9461 31.3919 20.0365 31.3919 17.6893C31.3919 16.4194 30.8322 15.2783 29.9474 14.4977C31.7155 13.8105 33.6386 13.4326 35.6487 13.4326C38.9071 13.4326 42.0443 14.4483 44.6542 16.2927C34.1294 16.7787 25.7163 25.4925 25.7163 36.1353C25.7163 38.0653 25.9941 39.9314 26.5098 41.6971ZM45.5811 53.1623C36.1924 53.1623 28.5541 45.524 28.5541 36.1353C28.5541 26.7466 36.1924 19.1082 45.5811 19.1082C46.726 19.1082 47.8697 19.2268 49.0001 19.4616C48.6216 20.2263 48.419 21.0728 48.419 21.9461C48.419 25.0756 50.9651 27.6218 54.0946 27.6218C54.0946 29.1403 54.7072 30.5709 55.8195 31.6502C57.6178 33.3948 60.2418 33.7597 62.3493 32.7163C62.5842 33.8467 62.7028 34.9905 62.7028 36.1353C62.7028 45.524 55.022 53.1623 45.5811 53.1623Z" fill="#6946C6" />
                <path d="M41.3244 24.7837C38.9772 24.7837 37.0676 26.6933 37.0676 29.0404C37.0676 31.3876 38.9772 33.2972 41.3244 33.2972C43.6716 33.2972 45.5811 31.3876 45.5811 29.0404C45.5811 26.6933 43.6716 24.7837 41.3244 24.7837ZM41.3244 30.4594C40.542 30.4594 39.9055 29.8228 39.9055 29.0404C39.9055 28.2581 40.542 27.6215 41.3244 27.6215C42.1068 27.6215 42.7433 28.2581 42.7433 29.0404C42.7433 29.8228 42.1068 30.4594 41.3244 30.4594Z" fill="#6946C6" />
                <path d="M49.8378 41.811C47.4906 41.811 45.5811 43.7206 45.5811 46.0678C45.5811 48.415 47.4906 50.3245 49.8378 50.3245C52.185 50.3245 54.0946 48.415 54.0946 46.0678C54.0946 43.7206 52.185 41.811 49.8378 41.811ZM49.8378 47.4867C49.0554 47.4867 48.4189 46.8502 48.4189 46.0678C48.4189 45.2854 49.0554 44.6489 49.8378 44.6489C50.6202 44.6489 51.2567 45.2854 51.2567 46.0678C51.2567 46.8502 50.6202 47.4867 49.8378 47.4867Z" fill="#6946C6" />
                <path d="M39.9055 38.9731C38.3407 38.9731 37.0676 40.2462 37.0676 41.811C37.0676 43.3758 38.3407 44.6488 39.9055 44.6488C41.4702 44.6488 42.7433 43.3758 42.7433 41.811C42.7433 40.2462 41.4702 38.9731 39.9055 38.9731Z" fill="#6946C6" />
                <path d="M52.6758 36.1352C53.4594 36.1352 54.0947 35.4999 54.0947 34.7163C54.0947 33.9326 53.4594 33.2974 52.6758 33.2974C51.8921 33.2974 51.2568 33.9326 51.2568 34.7163C51.2568 35.4999 51.8921 36.1352 52.6758 36.1352Z" fill="#6946C6" />
                <path d="M32.8108 38.9731C33.5944 38.9731 34.2297 38.3378 34.2297 37.5542C34.2297 36.7705 33.5944 36.1353 32.8108 36.1353C32.0271 36.1353 31.3918 36.7705 31.3918 37.5542C31.3918 38.3378 32.0271 38.9731 32.8108 38.9731Z" fill="#6946C6" />
                <path d="M24.2973 27.6215C25.081 27.6215 25.7163 26.9863 25.7163 26.2026C25.7163 25.419 25.081 24.7837 24.2973 24.7837C23.5137 24.7837 22.8784 25.419 22.8784 26.2026C22.8784 26.9863 23.5137 27.6215 24.2973 27.6215Z" fill="#6946C6" />
                <circle cx="25.5" cy="25.5" r="25.5" fill="#6946C6" fill-opacity="0.1" />
            </svg>
        </div>
        <div class="flex-sm-grow-1">
            <div class="card-body">
                <div class="p-text">
                    <strong><span>We use cookies</span></strong>
                </div> 
                in order to optimise the site, improve it continuously and to give you the best experience.
                <br />If you continue to use this site or click the "accept" button, you consent to our use of cookies.
            </div>
        </div>
        <div>
            <div class="d-flex">
                <a href="https://expleogroup.com/data-protection" target="_blank"><button type="button" class="coockieMoretBtn">More Info</button></a>
                <button type="button" class="coockieAcceptBtn ml-2" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
        @*<div class="col-12">
            <div class="card">
                <div class="card-body">
                    We use cookies in order to optimise the site, improve it continuously and to give you the best experience.
                    <br />If you continue to use this site or click the "accept" button, you consent to our use of cookies.
                    <br /><br />For further information: <a href="https://expleogroup.com/data-protection">Privacy Policy</a>
                    <button type="button" class="btn btn-primary coockieAcceptBtn float-right" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>*@
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.getElementById("cookieConsent").style.display = "none";
            }, false);
        })();
    </script>
}