<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>X Platform Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/dore.light.purple.css" />
</head>

<body class="background">
    <!-- Begin Body -->
    @RenderBody()
    <!-- End Body -->

    <script src="~/js/dore.script.js"></script>
    <script src="~/js/scripts.single.theme.js"></script>

</body>

</html>